<html>
<header></header>

<body>

    <h1>Lab IP Addresses</h1>

    <hr>

    <h2>3D Printers</h2>
    <h6 id="printers_header"></h6>
    <table id="printers" style="width:75%"></table>

    <br>

    <h2>Other Devices</h2>
    <h6 id="devices_header"></h6>
    <table id="devices" style="width:75%"></table>

    <br>

    <b>You must be on the BYU network/VPN for this service to work!!!</b>
    <br>
    If old entries persist in this table, you can flush the listings <a
        href="https://nordinip.ee.byu.edu/api/flush">here.</a>

</body>


<script src="https://nordinip.ee.byu.edu/api/data.js"></script>

</html>